kanaltemp2.nr
[{"id":"1340fcde.d07283","type":"ui_group","z":"d379d8ae.5f34e8","name":"Sensor Energiebilanz","order":"3","disp":true,"width":"10"},{"id":"c07abb24.5c0158","type":"ui_group","z":"d379d8ae.5f34e8","name":"Temperatur  kgbvax' Balkon","order":"2","disp":true,"width":"10"},{"id":"12a1121.7e274ee","type":"ui_tab","z":"d379d8ae.5f34e8","name":"Freifunk Münster","icon":"dashboard","theme":"theme-light","order":"1"},{"id":"83e6a0b.5bb186","type":"mqtt-broker","z":"d379d8ae.5f34e8","broker":"staging.thethingsnetwork.org","port":"1883","clientid":"ergored","usetls":false,"verifyservercert":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"e04ce844.51fd88","type":"mqtt in","z":"d379d8ae.5f34e8","name":"staging.thethingsnetwork / map3 q","topic":"+/devices/#","broker":"83e6a0b.5bb186","x":167.85713958740234,"y":49.42856979370117,"wires":[["c4485165.1f361","a0f30e1a.80381"]]},{"id":"67de15ea.3c968c","type":"function","z":"d379d8ae.5f34e8","name":"decodeMessage","func":"var b64string =  msg.payload.payload;\nvar buf = new Buffer(b64string, 'base64');\n\nnode.log(buf.length);\n\nvar temperature=buf.readUInt16BE(0)/10;\nvar ccCount= buf.readInt32LE(2);\nvar currentAvgConsumption = buf.readInt16LE(6)/1000.0;\n\nvar chargeTotal = Math.round(ccCount*0.1707*100)/100.0;\nvar ts = new Date(msg.payload.metadata[0].gateway_time).toLocaleTimeString();\nvar newMsg = { payload: temperature,\n               timestamp: ts,\n               coloumbCount: ccCount,\n               mAhTotal: chargeTotal,\n               mACurrent: currentAvgConsumption, \n               topic: \"temperature\"\n};\nreturn newMsg;","outputs":"1","noerr":0,"x":150,"y":240,"wires":[["aae7354b.1dddd8","86c02fcf.c1b01","7f2c45bb.48563c","1452d2db.07c84d","26959af1.2d8c66","edef5421.f70848","dc885be1.3be6b8","fea1fef4.ae5c1","d8c89234.56067","fd31366e.fc3ba8"]]},{"id":"dc885be1.3be6b8","type":"debug","z":"d379d8ae.5f34e8","name":"log msg","active":false,"console":"true","complete":"true","x":620,"y":80,"wires":[]},{"id":"c4485165.1f361","type":"json","z":"d379d8ae.5f34e8","name":"parseJSON","x":130.0714111328125,"y":142,"wires":[["67de15ea.3c968c"]]},{"id":"aae7354b.1dddd8","type":"ui_chart","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"c07abb24.5c0158","order":1,"width":"","height":"","label":"","name":"Temp","interpolate":"basis","nodata":"Kaputt","ymin":"","ymax":"30","removeOlder":"2","removeOlderUnit":"604800","x":590,"y":300,"wires":[["e896db52.f2f108"],[]]},{"id":"86c02fcf.c1b01","type":"ui_text","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"c07abb24.5c0158","order":"3","width":"5","height":1,"name":"Temp Text","label":"Temperatur [℃]","format":"{{msg.payload}}","x":610,"y":140,"wires":[]},{"id":"7f2c45bb.48563c","type":"ui_text","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"c07abb24.5c0158","order":"3","width":"5","height":1,"name":"Timestamp","label":"Aktualisiert: ","format":"{{msg.timestamp}}","x":610,"y":180,"wires":[]},{"id":"fbd3a3f5.1c94c","type":"file","z":"d379d8ae.5f34e8","name":"","filename":"/home/dash/temps","appendNewline":true,"createDir":false,"overwriteFile":"false","x":510,"y":660,"wires":[]},{"id":"61ab7eed.027ce","type":"csv","z":"d379d8ae.5f34e8","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"payload","x":270,"y":660,"wires":[["fbd3a3f5.1c94c"]]},{"id":"e896db52.f2f108","type":"file","z":"d379d8ae.5f34e8","name":"","filename":"/home/dash/chartstate2","appendNewline":true,"createDir":false,"overwriteFile":"true","x":870,"y":280,"wires":[]},{"id":"1452d2db.07c84d","type":"ui_text","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"1340fcde.d07283","order":"3","width":"5","height":1,"name":"","label":"Coloumb Counter Ticks","format":"{{msg.coloumbCount}}","x":650,"y":220,"wires":[]},{"id":"26959af1.2d8c66","type":"ui_text","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"1340fcde.d07283","order":"3","width":"5","height":1,"name":"","label":"Bilanz [mAh]","format":"{{msg.mAhTotal | number:2}} ","x":610,"y":260,"wires":[]},{"id":"edef5421.f70848","type":"function","z":"d379d8ae.5f34e8","name":"buildChargeMessage","func":"var newMsg = { payload: msg.mAhTotal,\n               topic: \"SOC\",\n               current: msg.mACurrent};\n             \nreturn newMsg;\n","outputs":1,"noerr":0,"x":380,"y":400,"wires":[["57451bb5.23e954"]]},{"id":"536255a1.b0a6bc","type":"ui_link","z":"d379d8ae.5f34e8","name":"Freifunk Münster","link":"http://freifunk-muensterland.de","icon":"open_in_browser","target":"newtab","order":1,"x":960,"y":600,"wires":[]},{"id":"feb0ae01.a33a2","type":"ui_link","z":"d379d8ae.5f34e8","name":"Warpzone","link":"http://warpzone.ms","icon":"open_in_browser","target":"newtab","order":1,"x":940,"y":640,"wires":[]},{"id":"bd67a83c.1f0688","type":"ui_text","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"1340fcde.d07283","order":"2","width":"5","height":1,"name":"","label":"Lade/Entladestrom [mA]","format":"{{msg.mACurrent}}","x":630,"y":540,"wires":[]},{"id":"57451bb5.23e954","type":"ui_chart","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"1340fcde.d07283","order":1,"width":"","height":"","label":"SOC","name":"SOC","interpolate":"basis","nodata":"No Data","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"604800","x":590,"y":400,"wires":[[],[]]},{"id":"dd0b8602.40eae8","type":"twitter out","z":"d379d8ae.5f34e8","twitter":"","name":"Tweet DortmundEms","x":1020,"y":440,"wires":[]},{"id":"738d7ef6.ed1db","type":"inject","z":"d379d8ae.5f34e8","name":"restore chart state","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":550,"y":340,"wires":[[]]},{"id":"956fd30a.38371","type":"http request","z":"d379d8ae.5f34e8","name":"Update OpenSenseMap","method":"use","ret":"txt","url":"","x":670,"y":820,"wires":[["a90679ae.ecea38"]]},{"id":"cf4d1c39.1b83d","type":"inject","z":"d379d8ae.5f34e8","name":"value 1","topic":"","payload":"17","payloadType":"num","repeat":"","crontab":"","once":false,"x":90,"y":820,"wires":[["fea1fef4.ae5c1"]]},{"id":"a90679ae.ecea38","type":"debug","z":"d379d8ae.5f34e8","name":"","active":false,"console":"false","complete":"true","x":890,"y":820,"wires":[]},{"id":"fea1fef4.ae5c1","type":"template","z":"d379d8ae.5f34e8","name":"value json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"value\": {{payload}} }","x":240,"y":820,"wires":[["61fdbd00.273e14"]]},{"id":"61fdbd00.273e14","type":"change","z":"d379d8ae.5f34e8","name":"request param","rules":[{"t":"set","p":"headers","pt":"msg","to":"{ \"Content-Type\" : \"application/json\", \"Host\": \"www.opensensemap.org\"}","tot":"json"},{"t":"set","p":"url","pt":"msg","to":"http://www.opensensemap.org:8000/boxes/5767cdbb4774ce7c0cac561e/5767cdbb4774ce7c0cac5620","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":820,"wires":[["956fd30a.38371"]]},{"id":"d8c89234.56067","type":"delay","z":"d379d8ae.5f34e8","name":"einmal am Tag","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":360,"y":460,"wires":[["a323f7d5.3255b8"]]},{"id":"6ad48021.a6ad1","type":"template","z":"d379d8ae.5f34e8","name":">20 Gerade-so","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Gerade so {{payload}}℃ #beta #freifunklp","x":800,"y":440,"wires":[["dd0b8602.40eae8","fea14ede.a4f88"]]},{"id":"a323f7d5.3255b8","type":"switch","z":"d379d8ae.5f34e8","name":"Textwahl","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"str"},{"t":"gt","v":"15","vt":"str"}],"checkall":"false","outputs":2,"x":600,"y":460,"wires":[["6ad48021.a6ad1"],[]]},{"id":"a0f30e1a.80381","type":"counter","z":"d379d8ae.5f34e8","inc":1,"name":"","x":440,"y":49,"wires":[["dc885be1.3be6b8"]]},{"id":"fd31366e.fc3ba8","type":"freeboard","z":"d379d8ae.5f34e8","name":"freeboard","x":340,"y":300,"wires":[]},{"id":"a2f14933.915da8","type":"inject","z":"d379d8ae.5f34e8","name":"Test Twitter 21","topic":"","payload":"21","payloadType":"num","repeat":"","crontab":"","once":false,"x":410,"y":520,"wires":[["a323f7d5.3255b8"]]},{"id":"fea14ede.a4f88","type":"debug","z":"d379d8ae.5f34e8","name":"","active":true,"console":"false","complete":"true","x":960,"y":400,"wires":[]}]