kanaltemp2.nr
[{"id":"c07abb24.5c0158","type":"ui_group","z":"d379d8ae.5f34e8","name":"Experimente","order":"1","disp":true,"width":"10"},{"id":"12a1121.7e274ee","type":"ui_tab","z":"d379d8ae.5f34e8","name":"Data - The Things Network Münster","icon":"dashboard","theme":"theme-dark","order":"1"},{"id":"83e6a0b.5bb186","type":"mqtt-broker","z":"d379d8ae.5f34e8","broker":"staging.thethingsnetwork.org","port":"1883","clientid":"ergored","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":false,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"e04ce844.51fd88","type":"mqtt in","z":"d379d8ae.5f34e8","name":"staging.thethingsnetwork / map3","topic":"+/devices/#","broker":"83e6a0b.5bb186","x":137.85713958740234,"y":69.42856979370117,"wires":[["c4485165.1f361"]]},{"id":"67de15ea.3c968c","type":"function","z":"d379d8ae.5f34e8","name":"decodeTemp","func":"var b64string =  msg.payload.payload;\nvar buf = new Buffer(b64string, 'base64');\n\nvar highbyte=buf.readUInt8(0);\nvar lowbyte=buf.readUInt8(1);\n\nvar temperature =  (0xff*highbyte+lowbyte)/10;\nvar ts = new Date(msg.payload.metadata[0].gateway_time).toLocaleTimeString();\nvar newMsg = { payload: temperature,\n               timestamp: ts };\nreturn newMsg;","outputs":"1","noerr":0,"x":208.5,"y":251,"wires":[["dc885be1.3be6b8","194e3061.8820e","aae7354b.1dddd8","86c02fcf.c1b01","7f2c45bb.48563c","bb88af42.e7679"]]},{"id":"dc885be1.3be6b8","type":"debug","z":"d379d8ae.5f34e8","name":"","active":false,"console":"true","complete":"true","x":443.6428527832031,"y":176.71429443359375,"wires":[]},{"id":"c4485165.1f361","type":"json","z":"d379d8ae.5f34e8","name":"parseJSON","x":110.0714111328125,"y":162,"wires":[["67de15ea.3c968c"]]},{"id":"aae7354b.1dddd8","type":"ui_chart","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"c07abb24.5c0158","order":1,"width":"","height":"","label":"","name":"Temp","interpolate":"basis","nodata":"No Data","ymin":"10","ymax":"","removeOlder":"2","removeOlderUnit":"86400","x":438.71429443359375,"y":272,"wires":[[],[]]},{"id":"194e3061.8820e","type":"ui_gauge","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"c07abb24.5c0158","order":"2","width":"","height":"","name":"","title":"Bald Dortmund-Ems Kanal","label":"Temp","format":"{{msg.temp}}","min":0,"max":"30","x":443.5,"y":232,"wires":[]},{"id":"86c02fcf.c1b01","type":"ui_text","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"c07abb24.5c0158","order":1,"width":"3","height":1,"name":"Temp Text","label":"℃","format":"{{msg.payload}}","x":458.5,"y":311,"wires":[]},{"id":"7f2c45bb.48563c","type":"ui_text","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"c07abb24.5c0158","order":1,"width":"5","height":1,"name":"Timestamp","label":"Stand:","format":"{{msg.timestamp}}","x":457.5,"y":359,"wires":[]},{"id":"fbd3a3f5.1c94c","type":"file","z":"d379d8ae.5f34e8","name":"","filename":"/home/dash/temps","appendNewline":true,"createDir":false,"overwriteFile":"false","x":465,"y":431,"wires":[]},{"id":"61ab7eed.027ce","type":"csv","z":"d379d8ae.5f34e8","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"timestamp,payload","x":263.5,"y":426,"wires":[["fbd3a3f5.1c94c"]]},{"id":"bb88af42.e7679","type":"json","z":"d379d8ae.5f34e8","name":"","x":117.5,"y":425,"wires":[["61ab7eed.027ce"]]}]