kanaltemp2.nr
[{"id":"1340fcde.d07283","type":"ui_group","z":"d379d8ae.5f34e8","name":"Sensor Energiebilanz","order":"3","disp":true,"width":"10"},{"id":"c07abb24.5c0158","type":"ui_group","z":"d379d8ae.5f34e8","name":"Temperatur  kgbvax' Balkon","order":"2","disp":true,"width":"10"},{"id":"12a1121.7e274ee","type":"ui_tab","z":"d379d8ae.5f34e8","name":"Freifunk Münster","icon":"dashboard","theme":"theme-light","order":"1"},{"id":"83e6a0b.5bb186","type":"mqtt-broker","z":"d379d8ae.5f34e8","broker":"staging.thethingsnetwork.org","port":"1883","clientid":"ergored","usetls":false,"verifyservercert":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"e04ce844.51fd88","type":"mqtt in","z":"d379d8ae.5f34e8","name":"staging.thethingsnetwork / map3 q","topic":"+/devices/#","broker":"83e6a0b.5bb186","x":147.85713958740234,"y":69.42856979370117,"wires":[["c4485165.1f361"]]},{"id":"67de15ea.3c968c","type":"function","z":"d379d8ae.5f34e8","name":"decodeMessage","func":"var b64string =  msg.payload.payload;\nvar buf = new Buffer(b64string, 'base64');\n\nnode.log(buf.length);\n\nvar temperature=buf.readUInt16BE(0)/10;\nvar ccCount= buf.readInt32LE(2);\nvar currentAvgConsumption = buf.readInt16LE(6)/1000.0;\n\nvar chargeTotal = Math.round(ccCount*0.1707*100)/100.0;\nvar ts = new Date(msg.payload.metadata[0].gateway_time).toLocaleTimeString();\nvar newMsg = { payload: temperature,\n               timestamp: ts,\n               coloumbCount: ccCount,\n               mAhTotal: chargeTotal,\n               mACurrent: currentAvgConsumption, \n               topic: \"temperature\"\n};\nreturn newMsg;","outputs":"1","noerr":0,"x":130,"y":260,"wires":[["aae7354b.1dddd8","86c02fcf.c1b01","7f2c45bb.48563c","1452d2db.07c84d","26959af1.2d8c66","edef5421.f70848","bd67a83c.1f0688","dc885be1.3be6b8"]]},{"id":"dc885be1.3be6b8","type":"debug","z":"d379d8ae.5f34e8","name":"log msg","active":true,"console":"true","complete":"true","x":439,"y":153,"wires":[]},{"id":"c4485165.1f361","type":"json","z":"d379d8ae.5f34e8","name":"parseJSON","x":110.0714111328125,"y":162,"wires":[["67de15ea.3c968c"]]},{"id":"aae7354b.1dddd8","type":"ui_chart","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"c07abb24.5c0158","order":1,"width":"","height":"","label":"","name":"Graph","interpolate":"basis","nodata":"Kaputt","ymin":"","ymax":"","removeOlder":"2","removeOlderUnit":"604800","x":430,"y":520,"wires":[["e896db52.f2f108"],[]]},{"id":"86c02fcf.c1b01","type":"ui_text","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"c07abb24.5c0158","order":"3","width":"5","height":1,"name":"Temp Text","label":"Temperatur [℃]","format":"{{msg.payload}}","x":450,"y":280,"wires":[]},{"id":"7f2c45bb.48563c","type":"ui_text","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"c07abb24.5c0158","order":"3","width":"5","height":1,"name":"Timestamp","label":"Aktualisiert: ","format":"{{msg.timestamp}}","x":450,"y":320,"wires":[]},{"id":"fbd3a3f5.1c94c","type":"file","z":"d379d8ae.5f34e8","name":"","filename":"/home/dash/temps","appendNewline":true,"createDir":false,"overwriteFile":"false","x":450,"y":660,"wires":[]},{"id":"61ab7eed.027ce","type":"csv","z":"d379d8ae.5f34e8","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"timestamp,payload,msg.timestamp","x":250,"y":660,"wires":[["fbd3a3f5.1c94c"]]},{"id":"e896db52.f2f108","type":"file","z":"d379d8ae.5f34e8","name":"","filename":"/home/dash/chartstate","appendNewline":true,"createDir":false,"overwriteFile":"true","x":640,"y":520,"wires":[]},{"id":"1452d2db.07c84d","type":"ui_text","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"1340fcde.d07283","order":"3","width":"5","height":1,"name":"","label":"Coulomb Counter Ticks","format":"{{msg.coloumbCount}}","x":490,"y":360,"wires":[]},{"id":"26959af1.2d8c66","type":"ui_text","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"1340fcde.d07283","order":"3","width":"5","height":1,"name":"","label":"Bilanz [mAh]","format":"{{msg.mAhTotal | number:2}} ","x":450,"y":400,"wires":[]},{"id":"edef5421.f70848","type":"function","z":"d379d8ae.5f34e8","name":"buildChargeMessage","func":"var newMsg = { payload: msg.mAhTotal,\n               topic: \"SOC\",\n               current: msg.mACurrent};\n             \nreturn newMsg;\n","outputs":1,"noerr":0,"x":180,"y":580,"wires":[["57451bb5.23e954"]]},{"id":"536255a1.b0a6bc","type":"ui_link","z":"d379d8ae.5f34e8","name":"Freifunk Münster","link":"http://freifunk-muensterland.de","icon":"open_in_browser","target":"newtab","order":1,"x":120,"y":720,"wires":[]},{"id":"feb0ae01.a33a2","type":"ui_link","z":"d379d8ae.5f34e8","name":"Warpzone","link":"http://warpzone.ms","icon":"open_in_browser","target":"newtab","order":1,"x":100,"y":760,"wires":[]},{"id":"bd67a83c.1f0688","type":"ui_text","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"1340fcde.d07283","order":"2","width":"5","height":1,"name":"","label":"Lade/Entladestrom [mA]","format":"{{msg.mACurrent}}","x":490,"y":480,"wires":[]},{"id":"57451bb5.23e954","type":"ui_chart","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"1340fcde.d07283","order":1,"width":"","height":"","label":"SOC","name":"SOC","interpolate":"basis","nodata":"No Data","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"604800","x":430,"y":580,"wires":[[],[]]},{"id":"dd0b8602.40eae8","type":"twitter out","z":"d379d8ae.5f34e8","twitter":"","name":"Tweet DortmundEms","x":400,"y":740,"wires":[]}]
