node-red/kanaltemp.json
[
    {
        "id": "5e2695ff.75a17c",
        "type": "subflow",
        "name": "CalcConsumption",
        "info": "",
        "in": [
            {
                "x": 20,
                "y": 240,
                "wires": [
                    {
                        "id": "76f2c515.4f5ffc"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 880,
                "y": 240,
                "wires": [
                    {
                        "id": "76f2c515.4f5ffc",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "76f2c515.4f5ffc",
        "type": "function",
        "z": "5e2695ff.75a17c",
        "name": "Calculate Avg Consumption",
        "func": "var lastCC = global.get(\"lastCC\");\nvar lastTS = global.get(\"lastTS\");\nvar currCC = msg.coloumbCount;\nvar currTS = msg.timestamp_m;\n\nif (lastTS===0) { // in case of startup, first result is nonsense\n    lastTS=currTS;\n}\n\nvar deltaTS = (currTS - lastTS)/1000.0;\n\n\nnode.log(\"lastCC \" + lastCC);\nnode.log(\"lastTS \" + lastTS);\nnode.log(\"currCC \" + currCC);\nnode.log(\"currTS \" + currTS);\n\nvar deltaCC = currCC - lastCC;\n\nnode.log(\"deltaCC \" + deltaCC);\nnode.log(\"deltaTS \" + deltaTS);\n\nvar timeBetweenTicks=deltaTS / Math.abs(deltaCC);\n\nnode.log(\"timeBetweenTicks \" + timeBetweenTicks);\nvar result =  614.4 / timeBetweenTicks;\nif (deltaCC <0 ) {\n    result = -result;\n}\nnode.log(\"result \"+result);\n  \nvar newMsg = { \"payload\": result,\n                \"updateRt\" : deltaTS/60.0/1000.0};\n\nglobal.set(\"lastTS\",currTS);\nglobal.set(\"lastCC\",currCC);\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d379d8ae.5f34e8",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "7b7c58fe.0d4f18",
        "type": "inject",
        "z": "d379d8ae.5f34e8",
        "name": "initCC",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 722,
        "y": 1136,
        "wires": [
            [
                "bddf3452.90f2b8"
            ]
        ]
    },
    {
        "id": "bddf3452.90f2b8",
        "type": "globalGetSet",
        "z": "d379d8ae.5f34e8",
        "name": "Init CC",
        "topic": "",
        "context": "msg",
        "variable": "payload",
        "outContext": "global",
        "outVar": "currCC",
        "x": 882,
        "y": 1136,
        "wires": [
            []
        ]
    },
    {
        "id": "e6e834cc.4d51a8",
        "type": "globalGetSet",
        "z": "d379d8ae.5f34e8",
        "name": "Init ts",
        "topic": "",
        "context": "msg",
        "variable": "payload",
        "outContext": "global",
        "outVar": "currentTS",
        "x": 882,
        "y": 1176,
        "wires": [
            []
        ]
    },
    {
        "id": "e4afe377.fc7e1",
        "type": "inject",
        "z": "d379d8ae.5f34e8",
        "name": "init TS",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 722,
        "y": 1176,
        "wires": [
            [
                "e6e834cc.4d51a8"
            ]
        ]
    },
    {
        "id": "61fdbd00.273e14",
        "type": "change",
        "z": "d379d8ae.5f34e8",
        "name": "request param",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{ \"Content-Type\" : \"application/json\", \"Host\": \"www.opensensemap.org\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "http://www.opensensemap.org:8000/boxes/5767cdbb4774ce7c0cac561e/5767cdbb4774ce7c0cac5620",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "POST",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 514,
        "y": 824,
        "wires": [
            [
                "956fd30a.38371"
            ]
        ]
    },
    {
        "id": "fea1fef4.ae5c1",
        "type": "template",
        "z": "d379d8ae.5f34e8",
        "name": "value json",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{ \"value\": {{payload}} }",
        "x": 337,
        "y": 825,
        "wires": [
            [
                "61fdbd00.273e14"
            ]
        ]
    },
    {
        "id": "956fd30a.38371",
        "type": "http request",
        "z": "d379d8ae.5f34e8",
        "name": "Update OpenSenseMap",
        "method": "use",
        "ret": "txt",
        "url": "",
        "x": 754,
        "y": 834,
        "wires": [
            []
        ]
    },
    {
        "id": "67de15ea.3c968c",
        "type": "function",
        "z": "d379d8ae.5f34e8",
        "name": "decodeMessage",
        "func": "var b64string =  msg.payload.payload_raw;\nvar buf = new Buffer(b64string, 'base64');\nvar TEMP_OFFSET=-5;\nvar TEMP_TICK=0.000534;\nvar BATT_VOLT_OFFSET=0;\nvar BATT_VOLT_TICK=0.000092;\nvar CASE_TEMP_OFFSET=-30;\nvar CASE_TEMP_TICK=0.002747;\n\n\nvar temperature2Int=buf.readUInt16BE(0);\nvar temperatureInt=buf.readUInt16BE(2);\nvar temperature=temperatureInt*TEMP_TICK + TEMP_OFFSET;\nvar temperature2=temperature2Int*TEMP_TICK + TEMP_OFFSET;\nvar ccCount= buf.readInt32LE(4);\nvar currentAvgConsumption = buf.readInt16LE(8)/1000.0;\nvar battVoltInt = buf.readUInt16BE(10);\nvar battVolt=battVoltInt*BATT_VOLT_TICK+BATT_VOLT_OFFSET;\nvar caseTempInt=buf.readUInt16BE(12);\nvar caseTemp=caseTempInt*CASE_TEMP_TICK+CASE_TEMP_OFFSET;\nvar humidity=buf.readUInt16BE(14)/10.0;\n\nvar pressure=buf.readUInt16BE(16)/10.0;\n\nvar chargeTotal = Math.round(ccCount*0.1707*100)/100.0;\nvar ts_x = new Date(msg.payload.metadata.time);\nvar ts = ts_x.toLocaleTimeString();\n\nvar newMsg = { \"payload\": temperature,\n               \"temperature\": temperature,\n               \"temperature2\": temperature2,\n               \"timestamp\": ts,\n               \"timestamp_m\": ts_x.getTime(),\n               \"timestamp_e\": ts_x.toISOString(),\n               \"coloumbCount\": ccCount,\n               \"mAhTotal\": chargeTotal,\n               \"battVolt\": battVolt,\n               \"caseTemp\": caseTemp,\n               \"humidity\": humidity,\n               \"pressure\": pressure,\n               \"topic\": \"temperature\",\n               \"sensor\": \"dek1\"\n            \n};\nreturn newMsg;",
        "outputs": "1",
        "noerr": 0,
        "x": 160,
        "y": 230,
        "wires": [
            [
                "fea1fef4.ae5c1",
                "e69ffd75.1fa29",
                "d6f9a0ba.49d13",
                "25e701d4.f6037e",
                "718d683f.07b188",
                "877eb57d.c96d38",
                "872d5edc.35fc6",
                "e8f1a00c.6968d",
                "174c1405.e9facc",
                "5ac49522.c1d48c",
                "66b27209.3b9f3c",
                "c4ef2000.b9688",
                "94f22e91.7cca2",
                "870f6d7d.60d1f"
            ]
        ]
    },
    {
        "id": "cf4d1c39.1b83d",
        "type": "inject",
        "z": "d379d8ae.5f34e8",
        "name": "val 1",
        "topic": "",
        "payload": "17",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 189,
        "y": 702,
        "wires": [
            [
                "fea1fef4.ae5c1"
            ]
        ]
    },
    {
        "id": "edef5421.f70848",
        "type": "function",
        "z": "d379d8ae.5f34e8",
        "name": "buildChargeMessage",
        "func": "var newMsg = { payload: msg.mAhTotal,\n               topic: \"SOC\",\n               current: msg.mACurrent};\n             \nreturn newMsg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 693,
        "y": 357,
        "wires": [
            [
                "57451bb5.23e954"
            ]
        ]
    },
    {
        "id": "c69cd73e.c1fa58",
        "type": "dweetio out",
        "z": "d379d8ae.5f34e8",
        "thing": "de.freifunk-muensterland.ttn.dek1",
        "name": "Dweet de.freifunk-muensterland.ttn.dek1",
        "x": 695,
        "y": 780,
        "wires": []
    },
    {
        "id": "e69ffd75.1fa29",
        "type": "subflow:5e2695ff.75a17c",
        "z": "d379d8ae.5f34e8",
        "name": "",
        "x": 363,
        "y": 710,
        "wires": [
            [
                "bd67a83c.1f0688",
                "48239c99.861134"
            ]
        ]
    },
    {
        "id": "57451bb5.23e954",
        "type": "ui_chart",
        "z": "d379d8ae.5f34e8",
        "name": "SOC",
        "group": "1340fcde.d07283",
        "order": 2,
        "width": "",
        "height": "",
        "label": "Bilanz [mAh]",
        "chartType": "line",
        "xformat": "%a %H:%M",
        "interpolate": "linear",
        "nodata": "Keine Daten",
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderUnit": "604800",
        "x": 883,
        "y": 342,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "bd67a83c.1f0688",
        "type": "ui_text",
        "z": "d379d8ae.5f34e8",
        "group": "1340fcde.d07283",
        "order": 4,
        "width": "5",
        "height": 1,
        "name": "",
        "label": "Lade/Entladestrom  ",
        "format": "{{msg.payload | number:2}}mA",
        "layout": "row-left",
        "x": 617,
        "y": 701,
        "wires": []
    },
    {
        "id": "e04ce844.51fd88",
        "type": "mqtt in",
        "z": "d379d8ae.5f34e8",
        "name": "eu.thehings.kanaltemp",
        "topic": "+/devices/#",
        "qos": "2",
        "broker": "e0b961bd.87c368",
        "x": 116.85713958740234,
        "y": 46.42856979370117,
        "wires": [
            [
                "2bc05520.ac783a"
            ]
        ]
    },
    {
        "id": "dd0b8602.40eae8",
        "type": "twitter out",
        "z": "d379d8ae.5f34e8",
        "twitter": "",
        "name": "Tweet DortmundEms",
        "x": 1183,
        "y": 697,
        "wires": []
    },
    {
        "id": "d6f9a0ba.49d13",
        "type": "ui_text",
        "z": "d379d8ae.5f34e8",
        "group": "c07abb24.5c0158",
        "order": "3",
        "width": "5",
        "height": 1,
        "name": "Temp 1m",
        "label": "Wasser @ 1m [℃]",
        "format": "{{msg.temperature  | number:2}}",
        "layout": "",
        "x": 697,
        "y": 165,
        "wires": []
    },
    {
        "id": "25e701d4.f6037e",
        "type": "ui_text",
        "z": "d379d8ae.5f34e8",
        "group": "c07abb24.5c0158",
        "order": "3",
        "width": "5",
        "height": 1,
        "name": "Timestamp",
        "label": "Aktualisiert: ",
        "format": "{{msg.timestamp}}",
        "x": 531,
        "y": 294,
        "wires": []
    },
    {
        "id": "718d683f.07b188",
        "type": "ui_text",
        "z": "d379d8ae.5f34e8",
        "group": "1340fcde.d07283",
        "order": 5,
        "width": "5",
        "height": 1,
        "name": "",
        "label": "Coulomb Zähler Ticks",
        "format": "{{msg.coloumbCount}}",
        "x": 736,
        "y": 274,
        "wires": []
    },
    {
        "id": "877eb57d.c96d38",
        "type": "ui_text",
        "z": "d379d8ae.5f34e8",
        "group": "1340fcde.d07283",
        "order": 3,
        "width": "12",
        "height": 1,
        "name": "",
        "label": "Bilanz [mAh]",
        "format": "{{msg.mAhTotal | number:2}} ",
        "layout": "row-left",
        "x": 710,
        "y": 240,
        "wires": []
    },
    {
        "id": "c797b4a1.051138",
        "type": "ui_chart",
        "z": "d379d8ae.5f34e8",
        "name": "Temp",
        "group": "c07abb24.5c0158",
        "order": "2",
        "width": "",
        "height": "",
        "label": "",
        "chartType": "line",
        "xformat": "%a %H:%M",
        "interpolate": "linear",
        "nodata": "Keine Daten",
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderUnit": "86400",
        "x": 1136,
        "y": 472,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e432db65.361568",
        "type": "inject",
        "z": "d379d8ae.5f34e8",
        "name": "init Temp Vortag",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 692,
        "y": 1216,
        "wires": [
            [
                "d7065271.c7db7"
            ]
        ]
    },
    {
        "id": "d7065271.c7db7",
        "type": "globalGetSet",
        "z": "d379d8ae.5f34e8",
        "name": "Init ts",
        "topic": "",
        "context": "msg",
        "variable": "payload",
        "outContext": "global",
        "outVar": "currentTS",
        "x": 882,
        "y": 1216,
        "wires": [
            []
        ]
    },
    {
        "id": "48239c99.861134",
        "type": "ui_text",
        "z": "d379d8ae.5f34e8",
        "group": "1340fcde.d07283",
        "order": 11,
        "width": "5",
        "height": 1,
        "name": "",
        "label": "Aktualisiert nach ",
        "format": "{{msg.updateRt | number:0}} min",
        "layout": "row-left",
        "x": 599,
        "y": 742,
        "wires": []
    },
    {
        "id": "872d5edc.35fc6",
        "type": "ui_template",
        "z": "d379d8ae.5f34e8",
        "group": "c07abb24.5c0158",
        "name": "Intro",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<p>\n<!-- <b>Die Temperatur des Dortmund-Ems Kanal ist {{msg.payload | number:2}} ℃.</b>  -->\n   <b>Der Sensor befindet sich zur Zeit in der Werkstatt.</b>  \n  <br/>Nachdem der alte Sensor entwendet wurde ist die Version 2 nun fertig:<br/>\n Mehr dazu <a href=\"https://forum.freifunk-muensterland.de/t/neuer-kanalsensor-hardware-fertig-o/1907\">hier im Forum</a><br/>\n</p>\n ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 734,
        "y": 117,
        "wires": [
            []
        ]
    },
    {
        "id": "e8f1a00c.6968d",
        "type": "delay",
        "z": "d379d8ae.5f34e8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "60",
        "rateUnits": "hour",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 432,
        "y": 364,
        "wires": [
            [
                "edef5421.f70848",
                "6cf77b69.5ad494",
                "81a2fb7d.8b5a78",
                "cad58183.1751f",
                "cae1ae77.f3f86",
                "6bf0b075.940f5",
                "cd3a4dd1.fc4b1"
            ]
        ]
    },
    {
        "id": "3483c32e.457f2c",
        "type": "ui_template",
        "z": "d379d8ae.5f34e8",
        "group": "6f5dfabc.2bd484",
        "name": "Über FreifunkLP",
        "order": "3",
        "width": "0",
        "height": "0",
        "format": "<p>Dieser Sensor ist Teil des FreifunkLP Netzes in Münster.</p>\n<div>FreifunkLP ist ein Netzwerk für Sensoren - mit hoher Reichweite und sehr geringem Stromverbrauch. </div>\n<p> Das Netz kann von allen Menschen frei benutzt werden.</p> \n \n<p>FreifunkLP ist ein Projekt von <a href=\"https://freifunk-muensterland.de/\">Freifunk Münster</a>. \n FreifunkLP beruht auf <a href=\"https://de.wikipedia.org/wiki/Long_Range_Wide_Area_Network\">LoRaWAN</a> und ist Teil der <a href=\"https://thethingsnetwork.org/\">The Things Network</a> Initative. \n</p>\n<p></p>\n<p>Weiteres:</p>\n<ul>\n    <li>Natürlich hat der Kanal auch einen <a href=\"https://twitter.com/DortmundEms\">eigenen Twitter Account</a></li>\n    <li><a href=\"https://forum.freifunk-muensterland.de/c/ffms-lp\">FreifunkLP im Forum von Freifunk Münsterland</a></li>\n    <li><a href=\"https://thethingsnetwork.org/c/munster/\">The Things Network Community Münster</a></li>\n    <li>Freifunk Münster <a href=\"https://twitter.com/freifunk_ms\">bei Twitter</a> und <a href=\"https://www.facebook.com/FreifunkMS/\"> Facebook</a></li>\n    <li>Die Daten\n      <ul>\n            <li> <a href=\"https://opensensemap.org/explore/5767cdbb4774ce7c0cac561e\"> auf OpenSenseMap</a></li>\n            <li> <a href=\"https://dweet.io/get/latest/dweet/for/de.freifunk-muensterland.ttn.dek1\">dweet.io</a></li>\n    </ul>\n    </li>\n</ul>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 875,
        "y": 132,
        "wires": [
            []
        ]
    },
    {
        "id": "69ab847d.a3b2bc",
        "type": "http request",
        "z": "d379d8ae.5f34e8",
        "name": "post to elasticsearch",
        "method": "POST",
        "ret": "txt",
        "url": "http://localhost:9200/flpsens/dek2/",
        "x": 781,
        "y": 79,
        "wires": [
            []
        ]
    },
    {
        "id": "174c1405.e9facc",
        "type": "function",
        "z": "d379d8ae.5f34e8",
        "name": "make elasticsearch body",
        "func": "return { \"payload\": msg\n};",
        "outputs": 1,
        "noerr": 0,
        "x": 549,
        "y": 77,
        "wires": [
            [
                "69ab847d.a3b2bc"
            ]
        ]
    },
    {
        "id": "12a22f2c.de8ac1",
        "type": "ui_template",
        "z": "d379d8ae.5f34e8",
        "group": "1340fcde.d07283",
        "name": "Intro Energiebilanz",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<p>Dieser Sensor arbeitet mit der Kraft der Sonne und meldet die Ladung/Entladung seiner Batterie.</p>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 885,
        "y": 202,
        "wires": [
            []
        ]
    },
    {
        "id": "4c25d1d7.48cc6",
        "type": "ui_template",
        "z": "d379d8ae.5f34e8",
        "group": "1340fcde.d07283",
        "name": "Details Sensor",
        "order": 14,
        "width": "",
        "height": "",
        "format": "<p>Unter anderem möchten wir herausfinden ob ein solcher Sensor dauerhaft (auch im Winter) so betrieben werden kann.</p>\n<p>Details zu dem Aufbau des Sensors finden sich <a href=\"http://blog.kgbvax.net/2016/09/making-of-wiekaltistderkanalde-sensor.html\">in diesem Blogeintrag von kgbvax</a></a></p>\n<p>Präzision: Absolut ±0.5°C, Relativ: 0.0625°C Typ DS18B20</p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 884,
        "y": 238,
        "wires": [
            []
        ]
    },
    {
        "id": "273e6301.37a37c",
        "type": "ui_template",
        "z": "d379d8ae.5f34e8",
        "group": "c07abb24.5c0158",
        "name": "baden-im-kanal",
        "order": "4",
        "width": "0",
        "height": "0",
        "format": "Zum Vergleich: Die Schwimmerbecken der Hallenbäder in Münster haben 27℃.\n<p/>\nBaden im Kanal ist eine ziemlich tolle Sache.  Da hier aber auch Schiffe fahren und das nicht ungefährlich ist \nbeachtet bitte die Hinweise der WSV Münster zum <a href=\"http://ast-west.gdws.wsv.de/aktuelles/Baden_in_Bundeswasserstrassen/Baden_Im_Kanal.html\" target=\"_blank\">Baden im Kanal.</a>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 875,
        "y": 167,
        "wires": [
            []
        ]
    },
    {
        "id": "a2f4425f.f8a19",
        "type": "ui_template",
        "z": "d379d8ae.5f34e8",
        "group": "af5a314c.bb979",
        "name": "impressum",
        "order": "99",
        "width": "0",
        "height": "0",
        "format": " \n    \n<div ><small>Dieses Werk ist lizenziert unter einer <br/><a rel=\"license\" href=\"http://creativecommons.org/licenses/by-sa/4.0/\">Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 4.0 International Lizenz</a>.<br/>\nAngabe entsprechen §5 TMG: <a href=\"http://www.infrastruktur.ms/about.html\">Förderverein Freie Infrastruktur e.V</a>\n<p>Lufttemperatur von <br/> \n<a href=\"https://www.wunderground.com/\"><img style=\"width:90px;\" src=\"https://icons.wxug.com/logos/JPG/wundergroundLogo_4c_horz.jpg\" ></a>\n</p></small></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 928,
        "y": 277,
        "wires": [
            []
        ]
    },
    {
        "id": "5ac49522.c1d48c",
        "type": "function",
        "z": "d379d8ae.5f34e8",
        "name": "makeDweedPayload",
        "func": "var newPayload = {\n    payload: {\n        \"value\": msg.temperature,\n        \"unit\" : \"degC\",\n        \"phenomen\" : \"water temperature\",\n        \"license\" : \"CC-BY-SA 4.0\",\n        \"attribution\" :\"Freifunk Münster\",\n        \"latitude\": 51.946024,\n        \"longitutde\": 7.643146,\n        \"description\" : \"\",\n        \"url\" :\"https://wiekaltistderkanal.de\"\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 392,
        "y": 778,
        "wires": [
            [
                "c69cd73e.c1fa58"
            ]
        ]
    },
    {
        "id": "dde345cc.91e9b8",
        "type": "ui_template",
        "z": "d379d8ae.5f34e8",
        "group": "7ac9716d.3f415",
        "name": "Daten  Temperatur Woche",
        "order": 1,
        "width": "",
        "height": "",
        "format": "<iframe src=\"https://wiekaltistderkanal.de/app/kibana#/visualize/edit/Durchschnittstemperatur?embed=true&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-7d,mode:quick,to:now))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(vis:(legendOpen:!f)),vis:(aggs:!((id:'1',params:(field:temperature),schema:metric,type:avg),(id:'2',params:(customInterval:'2h',extended_bounds:(),field:timestamp_e,interval:auto,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!t,mode:grouped,scale:linear,setYExtents:!t,shareYAxis:!t,times:!(),yAxis:(max:25,min:20)),title:Durchschnittstemperatur,type:histogram))\" \nheight=\"600\" width=\"100%\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 124.5,
        "y": 399,
        "wires": [
            []
        ]
    },
    {
        "id": "b4213525.3808c8",
        "type": "ui_template",
        "z": "d379d8ae.5f34e8",
        "group": "7ac9716d.3f415",
        "name": "Daten  Ladung  Woche",
        "order": "2",
        "width": "",
        "height": "",
        "format": "<iframe src=\"https://wiekaltistderkanal.de/app/kibana#/visualize/edit/Batterie-Bilanz?embed=true&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-7d,mode:quick,to:now))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(vis:(legendOpen:!f)),vis:(aggs:!((id:'1',params:(field:mAhTotal),schema:metric,type:avg),(id:'2',params:(customInterval:'2h',customLabel:'',extended_bounds:(),field:timestamp_e,interval:auto,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!t,drawLinesBetweenPoints:!t,interpolate:linear,radiusRatio:9,scale:linear,setYExtents:!f,shareYAxis:!t,showCircles:!t,smoothLines:!f,times:!(),yAxis:()),title:'Batterie%20Bilanz',type:line))\" \nheight=\"600\" width=\"100%\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "x": 113,
        "y": 439,
        "wires": [
            []
        ]
    },
    {
        "id": "6cf77b69.5ad494",
        "type": "switch",
        "z": "d379d8ae.5f34e8",
        "name": "Split for two temps_",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 689.5,
        "y": 462,
        "wires": [
            [
                "788e0794.4f8d68"
            ],
            [
                "4787208f.4a8708"
            ]
        ]
    },
    {
        "id": "788e0794.4f8d68",
        "type": "change",
        "z": "d379d8ae.5f34e8",
        "name": "1m sensor",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperatur @ 1m",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "temperature",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "this_is_1m",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 942.5,
        "y": 457,
        "wires": [
            [
                "c797b4a1.051138"
            ]
        ]
    },
    {
        "id": "4787208f.4a8708",
        "type": "change",
        "z": "d379d8ae.5f34e8",
        "name": "2m sensor",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperatur @ 2m",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "temperature2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 939.5,
        "y": 495,
        "wires": [
            [
                "c797b4a1.051138"
            ]
        ]
    },
    {
        "id": "f51b5270.ff82d",
        "type": "ui_chart",
        "z": "d379d8ae.5f34e8",
        "name": "Batteriespannung",
        "group": "1340fcde.d07283",
        "order": 6,
        "width": "6",
        "height": "5",
        "label": "Batteriespannung",
        "chartType": "line",
        "legend": "false",
        "xformat": "%a %H:%M",
        "interpolate": "linear",
        "nodata": "No Data",
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderUnit": "604800",
        "x": 920.5,
        "y": 382,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5f9f4309.8bee8c",
        "type": "ui_chart",
        "z": "d379d8ae.5f34e8",
        "name": "Batterietemperatur",
        "group": "1340fcde.d07283",
        "order": 7,
        "width": "6",
        "height": "5",
        "label": "Batterietemperatur",
        "chartType": "line",
        "xformat": "%a %H:%M",
        "interpolate": "linear",
        "nodata": "Keine Daten",
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderUnit": "604800",
        "x": 922.5,
        "y": 545,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "66b27209.3b9f3c",
        "type": "ui_text",
        "z": "d379d8ae.5f34e8",
        "group": "c07abb24.5c0158",
        "order": "3",
        "width": "5",
        "height": 1,
        "name": "Temp 2m",
        "label": "Wasser @ 2m [℃]",
        "format": "{{msg.temperature2  | number:2}}",
        "layout": "",
        "x": 699,
        "y": 202,
        "wires": []
    },
    {
        "id": "81a2fb7d.8b5a78",
        "type": "change",
        "z": "d379d8ae.5f34e8",
        "name": "Select Volts",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "battVolt",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Bat. Volt",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660.5,
        "y": 405,
        "wires": [
            [
                "f51b5270.ff82d",
                "1f0dec2b.9e4904"
            ]
        ]
    },
    {
        "id": "1f0dec2b.9e4904",
        "type": "ui_text",
        "z": "d379d8ae.5f34e8",
        "group": "1340fcde.d07283",
        "order": 10,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Batteriespannung akt.",
        "format": "{{msg.payload | number:2}}V ",
        "layout": "row-left",
        "x": 927,
        "y": 418,
        "wires": []
    },
    {
        "id": "cad58183.1751f",
        "type": "change",
        "z": "d379d8ae.5f34e8",
        "name": "Select case temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "caseTemp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Batt. Temp.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 674.5,
        "y": 516,
        "wires": [
            [
                "5f9f4309.8bee8c",
                "e700401c.51b34"
            ]
        ]
    },
    {
        "id": "e700401c.51b34",
        "type": "ui_text",
        "z": "d379d8ae.5f34e8",
        "group": "1340fcde.d07283",
        "order": 12,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Batterietemperatur akt.",
        "format": "{{msg.payload | number:1}}℃",
        "layout": "row-left",
        "x": 943,
        "y": 588,
        "wires": []
    },
    {
        "id": "f8a3f0b9.065358",
        "type": "ui_chart",
        "z": "d379d8ae.5f34e8",
        "name": "Feuchtigkeit ",
        "group": "1340fcde.d07283",
        "order": 8,
        "width": "6",
        "height": "5",
        "label": "Feuchtigkeit%",
        "chartType": "line",
        "xformat": "%a %H:%M",
        "interpolate": "linear",
        "nodata": "Keine Daten",
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderUnit": "604800",
        "x": 902,
        "y": 624,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cae1ae77.f3f86",
        "type": "change",
        "z": "d379d8ae.5f34e8",
        "name": "Select  humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "humidity",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Feuchtigkeit",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 665,
        "y": 559,
        "wires": [
            [
                "f8a3f0b9.065358"
            ]
        ]
    },
    {
        "id": "6bf0b075.940f5",
        "type": "ui_text",
        "z": "d379d8ae.5f34e8",
        "group": "1340fcde.d07283",
        "order": 13,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "RSSI",
        "format": "{{msg.rssi}}",
        "layout": "row-left",
        "x": 674,
        "y": 317,
        "wires": []
    },
    {
        "id": "cd3a4dd1.fc4b1",
        "type": "change",
        "z": "d379d8ae.5f34e8",
        "name": "Select  pressure",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pressure",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Luftdruck",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 597,
        "wires": [
            [
                "b7f84422.c9bc28"
            ]
        ]
    },
    {
        "id": "b7f84422.c9bc28",
        "type": "ui_chart",
        "z": "d379d8ae.5f34e8",
        "name": "Luftdruck ",
        "group": "1340fcde.d07283",
        "order": 9,
        "width": "6",
        "height": "5",
        "label": "Luftdruck [HPa]",
        "chartType": "line",
        "xformat": "%a %H:%M",
        "interpolate": "linear",
        "nodata": "Keine Daten",
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderUnit": "604800",
        "x": 896,
        "y": 664,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ba8b65cc.d27f98",
        "type": "ui_ui_control",
        "z": "d379d8ae.5f34e8",
        "name": "ui control",
        "x": 847.5,
        "y": 741,
        "wires": [
            []
        ]
    },
    {
        "id": "c4ef2000.b9688",
        "type": "ui_toast",
        "z": "d379d8ae.5f34e8",
        "position": "top right",
        "displayTime": "2",
        "name": "Update",
        "x": 496.5,
        "y": 113,
        "wires": []
    },
    {
        "id": "ee4de184.7b8d7",
        "type": "http in",
        "z": "d379d8ae.5f34e8",
        "name": "mattermost kanal hook",
        "url": "/mm-kanal",
        "method": "get",
        "swaggerDoc": "",
        "x": 114.5,
        "y": 900,
        "wires": [
            [
                "461f684c.6a7498"
            ]
        ]
    },
    {
        "id": "461f684c.6a7498",
        "type": "debug",
        "z": "d379d8ae.5f34e8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 373.5,
        "y": 903,
        "wires": []
    },
    {
        "id": "94f22e91.7cca2",
        "type": "globalGetSet",
        "z": "d379d8ae.5f34e8",
        "name": "remember last",
        "topic": "",
        "context": "msg",
        "variable": "payload",
        "outContext": "global",
        "outVar": "latest",
        "x": 414.5,
        "y": 479,
        "wires": [
            []
        ]
    },
    {
        "id": "870f6d7d.60d1f",
        "type": "debug",
        "z": "d379d8ae.5f34e8",
        "name": "TTNMSG SRC",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 380.5,
        "y": 179,
        "wires": []
    },
    {
        "id": "2bc05520.ac783a",
        "type": "json",
        "z": "d379d8ae.5f34e8",
        "name": "",
        "x": 94.5,
        "y": 132,
        "wires": [
            [
                "67de15ea.3c968c"
            ]
        ]
    },
    {
        "id": "1340fcde.d07283",
        "type": "ui_group",
        "z": "d379d8ae.5f34e8",
        "name": "Technische Details Sensor",
        "tab": "12a1121.7e274ee",
        "order": "4",
        "disp": true,
        "width": "12"
    },
    {
        "id": "e0b961bd.87c368",
        "type": "mqtt-broker",
        "z": "d379d8ae.5f34e8",
        "broker": "eu.thethings.network",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": ""
    },
    {
        "id": "c07abb24.5c0158",
        "type": "ui_group",
        "z": "d379d8ae.5f34e8",
        "name": "Dortmund-Ems Kanal",
        "tab": "12a1121.7e274ee",
        "order": "1",
        "disp": true,
        "width": "12"
    },
    {
        "id": "6f5dfabc.2bd484",
        "type": "ui_group",
        "z": "d379d8ae.5f34e8",
        "name": "Über FreifunkLP",
        "tab": "12a1121.7e274ee",
        "order": "2",
        "disp": true,
        "width": "12"
    },
    {
        "id": "af5a314c.bb979",
        "type": "ui_group",
        "z": "d379d8ae.5f34e8",
        "name": "Impressum",
        "tab": "12a1121.7e274ee",
        "order": "99",
        "disp": true,
        "width": "12"
    },
    {
        "id": "7ac9716d.3f415",
        "type": "ui_group",
        "z": "d379d8ae.5f34e8",
        "name": "Letzte Woche",
        "tab": "d7413f34.2beed",
        "order": "1",
        "disp": true,
        "width": "12"
    },
    {
        "id": "12a1121.7e274ee",
        "type": "ui_tab",
        "z": "d379d8ae.5f34e8",
        "name": "Freifunk Münster - Sensoren",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "d7413f34.2beed",
        "type": "ui_tab",
        "z": "d379d8ae.5f34e8",
        "name": "Historische Daten",
        "icon": "dashboard",
        "order": 3
    }
]
