src/nr.json
[{"id":"7ac9716d.3f415","type":"ui_group","z":"d379d8ae.5f34e8","name":"Letzte Woche","order":"1","disp":true,"width":"12"},{"id":"d7413f34.2beed","type":"ui_tab","z":"d379d8ae.5f34e8","name":"Historische Daten","icon":"dashboard","theme":"theme-light","order":"2"},{"id":"af5a314c.bb979","type":"ui_group","z":"d379d8ae.5f34e8","name":"Impressum","order":"99","disp":true,"width":"12"},{"id":"6f5dfabc.2bd484","type":"ui_group","z":"d379d8ae.5f34e8","name":"Über FreifunkLP","order":"2","disp":true,"width":"12"},{"id":"c07abb24.5c0158","type":"ui_group","z":"d379d8ae.5f34e8","name":"Dortmund-Ems Kanal","order":"1","disp":true,"width":"12"},{"id":"83e6a0b.5bb186","type":"mqtt-broker","z":"d379d8ae.5f34e8","broker":"staging.thethingsnetwork.org","port":"1883","clientid":"","usetls":false,"verifyservercert":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"1340fcde.d07283","type":"ui_group","z":"d379d8ae.5f34e8","name":"Technische Details Sensor","order":"4","disp":true,"width":"12"},{"id":"12a1121.7e274ee","type":"ui_tab","z":"d379d8ae.5f34e8","name":"Freifunk Münster - Sensoren","icon":"dashboard","theme":"theme-light","order":"1"},{"id":"5e2695ff.75a17c","type":"subflow","name":"CalcConsumption","info":"","in":[{"x":20,"y":240,"wires":[{"id":"76f2c515.4f5ffc"}]}],"out":[{"x":880,"y":240,"wires":[{"id":"76f2c515.4f5ffc","port":0}]}]},{"id":"76f2c515.4f5ffc","type":"function","z":"5e2695ff.75a17c","name":"Calculate Avg Consumption","func":"var lastCC = global.get(\"lastCC\");\nvar lastTS = global.get(\"lastTS\");\nvar currCC = msg.coloumbCount;\nvar currTS = msg.timestamp_m;\n\nif (lastTS===0) { // in case of startup, first result is nonsense\n    lastTS=currTS;\n}\n\nvar deltaTS = (currTS - lastTS)/1000.0;\n\n\nnode.log(\"lastCC \" + lastCC);\nnode.log(\"lastTS \" + lastTS);\nnode.log(\"currCC \" + currCC);\nnode.log(\"currTS \" + currTS);\n\nvar deltaCC = currCC - lastCC;\n\nnode.log(\"deltaCC \" + deltaCC);\nnode.log(\"deltaTS \" + deltaTS);\n\nvar timeBetweenTicks=deltaTS / Math.abs(deltaCC);\n\nnode.log(\"timeBetweenTicks \" + timeBetweenTicks);\nvar result =  614.4 / timeBetweenTicks;\nif (deltaCC <0 ) {\n    result = -result;\n}\nnode.log(\"result \"+result);\n  \nvar newMsg = { \"payload\": result,\n                \"updateRt\" : deltaTS/60.0};\n\nglobal.set(\"lastTS\",currTS);\nglobal.set(\"lastCC\",currCC);\nreturn newMsg;","outputs":1,"noerr":0,"x":460,"y":240,"wires":[[]]},{"id":"536255a1.b0a6bc","type":"ui_link","z":"d379d8ae.5f34e8","name":"Freifunk Münster","link":"http://freifunk-muensterland.de","icon":"open_in_browser","target":"newtab","order":1,"x":733,"y":1076,"wires":[]},{"id":"feb0ae01.a33a2","type":"ui_link","z":"d379d8ae.5f34e8","name":"Warpzone","link":"http://warpzone.ms","icon":"open_in_browser","target":"newtab","order":1,"x":892,"y":1076,"wires":[]},{"id":"7b7c58fe.0d4f18","type":"inject","z":"d379d8ae.5f34e8","name":"initCC","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":722,"y":1136,"wires":[["bddf3452.90f2b8"]]},{"id":"bddf3452.90f2b8","type":"globalGetSet","z":"d379d8ae.5f34e8","name":"Init CC","topic":"","context":"msg","variable":"payload","outContext":"global","outVar":"currCC","x":882,"y":1136,"wires":[[]]},{"id":"e6e834cc.4d51a8","type":"globalGetSet","z":"d379d8ae.5f34e8","name":"Init ts","topic":"","context":"msg","variable":"payload","outContext":"global","outVar":"currentTS","x":882,"y":1176,"wires":[[]]},{"id":"e4afe377.fc7e1","type":"inject","z":"d379d8ae.5f34e8","name":"init TS","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":722,"y":1176,"wires":[["e6e834cc.4d51a8"]]},{"id":"61fdbd00.273e14","type":"change","z":"d379d8ae.5f34e8","name":"request param","rules":[{"t":"set","p":"headers","pt":"msg","to":"{ \"Content-Type\" : \"application/json\", \"Host\": \"www.opensensemap.org\"}","tot":"json"},{"t":"set","p":"url","pt":"msg","to":"http://www.opensensemap.org:8000/boxes/5767cdbb4774ce7c0cac561e/5767cdbb4774ce7c0cac5620","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":608,"y":996,"wires":[["956fd30a.38371"]]},{"id":"fea1fef4.ae5c1","type":"template","z":"d379d8ae.5f34e8","name":"value json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"value\": {{payload}} }","x":341,"y":1001,"wires":[["61fdbd00.273e14"]]},{"id":"956fd30a.38371","type":"http request","z":"d379d8ae.5f34e8","name":"Update OpenSenseMap","method":"use","ret":"txt","url":"","x":871,"y":998,"wires":[[]]},{"id":"67de15ea.3c968c","type":"function","z":"d379d8ae.5f34e8","name":"decodeMessage","func":"var b64string =  msg.payload.payload;\nvar buf = new Buffer(b64string, 'base64');\nvar TEMP_OFFSET=-5;\nvar TEMP_TICK=0.000534;\nvar BATT_VOLT_OFFSET=0;\nvar BATT_VOLT_TICK=0.000092;\nvar CASE_TEMP_OFFSET=-30;\nvar CASE_TEMP_TICK=0.002747;\n\n\nvar temperature2Int=buf.readUInt16BE(0);\nvar temperatureInt=buf.readUInt16BE(2);\nvar temperature=temperatureInt*TEMP_TICK + TEMP_OFFSET;\nvar temperature2=temperature2Int*TEMP_TICK + TEMP_OFFSET;\nvar ccCount= buf.readInt32LE(4);\nvar currentAvgConsumption = buf.readInt16LE(8)/1000.0;\nvar battVoltInt = buf.readUInt16BE(10);\nvar battVolt=battVoltInt*BATT_VOLT_TICK+BATT_VOLT_OFFSET;\nvar caseTempInt=buf.readUInt16BE(12);\nvar caseTemp=caseTempInt*CASE_TEMP_TICK+CASE_TEMP_OFFSET;\n\n\nvar chargeTotal = Math.round(ccCount*0.1707*100)/100.0;\nvar ts_x = new Date(msg.payload.metadata[0].gateway_timestamp);\nvar ts = ts_x.toLocaleTimeString();\n\nvar newMsg = { \"payload\": temperature,\n               \"temperature\": temperature,\n               \"temperature2\": temperature2,\n               \"timestamp\": ts,\n               \"timestamp_m\": ts_x.getTime(),\n               \"timestamp_e\": ts_x.toISOString(),\n               \"coloumbCount\": ccCount,\n               \"mAhTotal\": chargeTotal,\n               \"battVolt\": battVolt,\n               \"caseTemp\": caseTemp,\n               \"topic\": \"temperature\",\n               \"sensor\": \"dek1\",\n               \"rssi\" : msg.payload.metadata[0].rssi,\n               \"frequency\" : msg.payload.metadata[0].frequency,\n               \"datarate\" : msg.payload.metadata[0].datarate\n};\nreturn newMsg;","outputs":"1","noerr":0,"x":150,"y":300,"wires":[["fea1fef4.ae5c1","d8c89234.56067","e69ffd75.1fa29","d6f9a0ba.49d13","25e701d4.f6037e","718d683f.07b188","877eb57d.c96d38","872d5edc.35fc6","e8f1a00c.6968d","174c1405.e9facc","5ac49522.c1d48c","66b27209.3b9f3c"]]},{"id":"cf4d1c39.1b83d","type":"inject","z":"d379d8ae.5f34e8","name":"val 1","topic":"","payload":"17","payloadType":"num","repeat":"","crontab":"","once":false,"x":174,"y":1015,"wires":[["fea1fef4.ae5c1"]]},{"id":"edef5421.f70848","type":"function","z":"d379d8ae.5f34e8","name":"buildChargeMessage","func":"var newMsg = { payload: msg.mAhTotal,\n               topic: \"SOC\",\n               current: msg.mACurrent};\n             \nreturn newMsg;\n","outputs":1,"noerr":0,"x":649,"y":360,"wires":[["57451bb5.23e954"]]},{"id":"d8c89234.56067","type":"delay","z":"d379d8ae.5f34e8","name":"einmal am Tag","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":454,"y":615,"wires":[[]]},{"id":"c69cd73e.c1fa58","type":"dweetio out","z":"d379d8ae.5f34e8","thing":"de.freifunk-muensterland.ttn.dek1","name":"Dweet de.freifunk-muensterland.ttn.dek1","x":810,"y":941,"wires":[]},{"id":"e69ffd75.1fa29","type":"subflow:5e2695ff.75a17c","z":"d379d8ae.5f34e8","name":"","x":481,"y":692,"wires":[["bd67a83c.1f0688","48239c99.861134"]]},{"id":"c4485165.1f361","type":"json","z":"d379d8ae.5f34e8","name":"parseJSON","x":130.0714111328125,"y":142,"wires":[["67de15ea.3c968c","3c78c42a.00397c"]]},{"id":"57451bb5.23e954","type":"ui_chart","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"1340fcde.d07283","order":"2","width":"","height":"","label":"Bilanz [mAh]","name":"SOC","interpolate":"linear","nodata":"Keine Daten","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"604800","x":838,"y":347,"wires":[[],[]]},{"id":"bd67a83c.1f0688","type":"ui_text","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"1340fcde.d07283","order":"2","width":"5","height":1,"name":"","label":"Lade/Entladestrom [mA]","format":"{{msg.payload | number:2}}","x":890,"y":680,"wires":[]},{"id":"e04ce844.51fd88","type":"mqtt in","z":"d379d8ae.5f34e8","name":"staging.thethingsnetwork / kanaltemp_v2","topic":"+/devices/#","broker":"83e6a0b.5bb186","x":187.85713958740234,"y":49.42856979370117,"wires":[["c4485165.1f361"]]},{"id":"dd0b8602.40eae8","type":"twitter out","z":"d379d8ae.5f34e8","twitter":"","name":"Tweet DortmundEms","x":1136,"y":649,"wires":[]},{"id":"fea14ede.a4f88","type":"debug","z":"d379d8ae.5f34e8","name":"","active":false,"console":"false","complete":"true","x":1103,"y":540,"wires":[]},{"id":"d6f9a0ba.49d13","type":"ui_text","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"c07abb24.5c0158","order":"3","width":"5","height":1,"name":"Temp Text","label":"Wasser @ 1m [℃]","format":"{{msg.temperature  | number:2}}","x":718,"y":200,"wires":[]},{"id":"25e701d4.f6037e","type":"ui_text","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"c07abb24.5c0158","order":"3","width":"5","height":1,"name":"Timestamp","label":"Aktualisiert: ","format":"{{msg.timestamp}}","x":549,"y":316,"wires":[]},{"id":"718d683f.07b188","type":"ui_text","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"1340fcde.d07283","order":"3","width":"5","height":1,"name":"","label":"Coulomb Zähler Ticks","format":"{{msg.coloumbCount}}","x":760,"y":311,"wires":[]},{"id":"877eb57d.c96d38","type":"ui_text","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"1340fcde.d07283","order":"3","width":"5","height":1,"name":"","label":"Bilanz [mAh]","format":"{{msg.mAhTotal | number:2}} ","x":730,"y":277,"wires":[]},{"id":"c797b4a1.051138","type":"ui_chart","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"c07abb24.5c0158","order":"2","width":"","height":"","label":"","name":"Temp","interpolate":"linear","nodata":"Keine Daten","ymin":"","ymax":"","removeOlder":"2","removeOlderUnit":"86400","x":1091,"y":477,"wires":[[],[]]},{"id":"e432db65.361568","type":"inject","z":"d379d8ae.5f34e8","name":"init Temp Vortag","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":692,"y":1216,"wires":[["d7065271.c7db7"]]},{"id":"d7065271.c7db7","type":"globalGetSet","z":"d379d8ae.5f34e8","name":"Init ts","topic":"","context":"msg","variable":"payload","outContext":"global","outVar":"currentTS","x":882,"y":1216,"wires":[[]]},{"id":"48239c99.861134","type":"ui_text","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"1340fcde.d07283","order":"3","width":"5","height":1,"name":"","label":"Aktualisiert nach [min]","format":"{{msg.updateRt | number :0}}","x":880,"y":720,"wires":[]},{"id":"872d5edc.35fc6","type":"ui_template","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"c07abb24.5c0158","name":"Intro","order":1,"width":"10","height":"2","format":"<p>\n       <!-- <b>Die Temperatur des Dortmund-Ems Kanal ist {{msg.payload}} ℃.</b>  -->\n       Der Sensor wurde leider geklaut. :-(<br/>\n       Techniker ist informiert. Wir bauen einen neuen.\n       Mehr dazu <a href=\"https://forum.freifunk-muensterland.de/t/neuer-kanalsensor-hardware-fertig-o/1907\">hier im Forum</a><br/>\n</p>\n<br/>\n  <p>\n    Gemessen <a href=\"https://opensensemap.org/explore/5767cdbb4774ce7c0cac561e\">in Münster, im Stadthafen 2</a> auf 1m Wassertiefe. \n </p> \n","storeOutMessages":true,"fwdInMessages":true,"x":524,"y":195,"wires":[[]]},{"id":"e8f1a00c.6968d","type":"delay","z":"d379d8ae.5f34e8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"60","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":400,"y":360,"wires":[["edef5421.f70848","6cf77b69.5ad494","81a2fb7d.8b5a78","cad58183.1751f"]]},{"id":"3483c32e.457f2c","type":"ui_template","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"6f5dfabc.2bd484","name":"Über FreifunkLP","order":"3","width":"","height":"13","format":"<p>Dieser Sensor ist Teil des FreifunkLP Netzes in Münster.</p>\n<div>FreifunkLP ist ein Netzwerk für Sensoren - mit hoher Reichweite und sehr geringem Stromverbrauch. </div>\n<p> Das Netz kann von allen Menschen frei benutzt werden.</p> \n \n<p>FreifunkLP ist ein Projekt von <a href=\"https://freifunk-muensterland.de/\">Freifunk Münster</a>. \n FreifunkLP beruht auf <a href=\"https://de.wikipedia.org/wiki/Long_Range_Wide_Area_Network\">LoRaWAN</a> und ist Teil der <a href=\"https://thethingsnetwork.org/\">The Things Network</a> Initative. \n</p>\n<p></p>\n<p>Weiteres:</p>\n<ul>\n    <li>Natürlich hat der Kanal auch einen <a href=\"https://twitter.com/DortmundEms\">eigenen Twitter Account</a></li>\n    <li><a href=\"https://forum.freifunk-muensterland.de/c/ffms-lp\">FreifunkLP im Forum von Freifunk Münsterland</a></li>\n    <li><a href=\"https://thethingsnetwork.org/c/munster/\">The Things Network Community Münster</a></li>\n    <li>Freifunk Münster <a href=\"https://twitter.com/freifunk_ms\">bei Twitter</a> und <a href=\"https://www.facebook.com/FreifunkMS/\"> Facebook</a></li>\n    <li>Die Daten\n      <ul>\n            <li> <a href=\"https://opensensemap.org/explore/5767cdbb4774ce7c0cac561e\"> auf OpenSenseMap</a></li>\n            <li> <a href=\"https://dweet.io/get/latest/dweet/for/de.freifunk-muensterland.ttn.dek1\">dweet.io</a></li>\n    </ul>\n    </li>\n</ul>\n<img src=\"https://opensensemap.org/userimages/5767cdbb4774ce7c0cac561e.jpg?1466443985176\">","storeOutMessages":true,"fwdInMessages":true,"x":1000,"y":220,"wires":[[]]},{"id":"69ab847d.a3b2bc","type":"http request","z":"d379d8ae.5f34e8","name":"post to elasticsearch","method":"POST","ret":"txt","url":"http://localhost:9200/flpsens/dek2/","x":720,"y":140,"wires":[["94fbd38f.30512"]]},{"id":"174c1405.e9facc","type":"function","z":"d379d8ae.5f34e8","name":"make elasticsearch body","func":"return { \"payload\": msg\n};","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["69ab847d.a3b2bc","15cc8a36.6a5326"]]},{"id":"94fbd38f.30512","type":"debug","z":"d379d8ae.5f34e8","name":"","active":false,"console":"true","complete":"true","x":890,"y":140,"wires":[]},{"id":"12a22f2c.de8ac1","type":"ui_template","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"1340fcde.d07283","name":"Intro Energiebilanz","order":1,"width":"10","height":"2","format":"<p>Dieser Sensor arbeitet mit der Kraft der Sonne und meldet die Ladung/Entladung seiner Batterie.</p>\n","storeOutMessages":true,"fwdInMessages":true,"x":1010,"y":300,"wires":[[]]},{"id":"4c25d1d7.48cc6","type":"ui_template","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"1340fcde.d07283","name":"Details Sensor","order":"5","width":"","height":"","format":"<p>Unter anderem möchten wir herausfinden ob ein solcher Sensor dauerhaft (auch im Winter) so betrieben werden kann.</p>\n<p>Details zu dem Aufbau des Sensors finden sich __hier__</p>\n<p>Präzision: Absolut ±0.5°C, Relativ: 0.0625°C Typ DS18B20</p>","storeOutMessages":true,"fwdInMessages":true,"x":1043,"y":342,"wires":[[]]},{"id":"3c78c42a.00397c","type":"debug","z":"d379d8ae.5f34e8","name":"","active":false,"console":"true","complete":"true","x":280,"y":120,"wires":[]},{"id":"273e6301.37a37c","type":"ui_template","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"c07abb24.5c0158","name":"baden-im-kanal","order":"4","width":"","height":"3","format":"Zum Vergleich: Die Schwimmerbecken der Hallenbäder in Münster haben 27℃.\n<p/>\nBaden im Kanal ist eine ziemlich tolle Sache.  Da hier aber auch Schiffe fahren und das nicht ungefährlich ist \nbeachtet bitte die Hinweise der WSV Münster zum <a href=\"http://ast-west.gdws.wsv.de/aktuelles/Baden_in_Bundeswasserstrassen/Baden_Im_Kanal.html\" target=\"_blank\">Baden im Kanal.</a>\n","storeOutMessages":true,"fwdInMessages":true,"x":1000,"y":260,"wires":[[]]},{"id":"a2f4425f.f8a19","type":"ui_template","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"af5a314c.bb979","name":"impressum","order":"99","width":"10","height":"3","format":" \n    \n<div ><small>Dieses Werk ist lizenziert unter einer <br/><a rel=\"license\" href=\"http://creativecommons.org/licenses/by-sa/4.0/\">Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 4.0 International Lizenz</a>.<br/>\nAngabe entsprechen §5 TMG: <a href=\"http://www.infrastruktur.ms/about.html\">Förderverein Freie Infrastruktur e.V</a>\n<p>Lufttemperatur von <br/> \n<a href=\"https://www.wunderground.com/\"><img style=\"width:90px;\" src=\"https://icons.wxug.com/logos/JPG/wundergroundLogo_4c_horz.jpg\" ></a>\n</p></small></div>","storeOutMessages":true,"fwdInMessages":true,"x":1170,"y":260,"wires":[[]]},{"id":"5ac49522.c1d48c","type":"function","z":"d379d8ae.5f34e8","name":"makeDweedPayload","func":"var newPayload = {\n    payload: {\n        \"value\": msg.temperature,\n        \"unit\" : \"degC\",\n        \"phenomen\" : \"water temperature\",\n        \"license\" : \"CC-BY-SA 4.0\",\n        \"attribution\" :\"Freifunk Münster\",\n        \"latitude\": 51.946024,\n        \"longitutde\": 7.643146,\n        \"description\" : \"\",\n        \"url\" :\"https://wiekaltistderkanal.de\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":436,"y":917,"wires":[["c69cd73e.c1fa58"]]},{"id":"dde345cc.91e9b8","type":"ui_template","z":"d379d8ae.5f34e8","tab":"d7413f34.2beed","group":"7ac9716d.3f415","name":"Daten  Temperatur Woche","order":1,"width":"","height":"","format":"<iframe src=\"https://wiekaltistderkanal.de/app/kibana#/visualize/edit/Durchschnittstemperatur?embed=true&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-7d,mode:quick,to:now))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(vis:(legendOpen:!f)),vis:(aggs:!((id:'1',params:(field:temperature),schema:metric,type:avg),(id:'2',params:(customInterval:'2h',extended_bounds:(),field:timestamp_e,interval:auto,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!t,mode:grouped,scale:linear,setYExtents:!t,shareYAxis:!t,times:!(),yAxis:(max:25,min:20)),title:Durchschnittstemperatur,type:histogram))\" \nheight=\"600\" width=\"100%\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"x":124.5,"y":399,"wires":[[]]},{"id":"b4213525.3808c8","type":"ui_template","z":"d379d8ae.5f34e8","tab":"d7413f34.2beed","group":"7ac9716d.3f415","name":"Daten  Ladung  Woche","order":"2","width":"","height":"","format":"<iframe src=\"https://wiekaltistderkanal.de/app/kibana#/visualize/edit/Batterie-Bilanz?embed=true&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-7d,mode:quick,to:now))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(vis:(legendOpen:!f)),vis:(aggs:!((id:'1',params:(field:mAhTotal),schema:metric,type:avg),(id:'2',params:(customInterval:'2h',customLabel:'',extended_bounds:(),field:timestamp_e,interval:auto,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!t,drawLinesBetweenPoints:!t,interpolate:linear,radiusRatio:9,scale:linear,setYExtents:!f,shareYAxis:!t,showCircles:!t,smoothLines:!f,times:!(),yAxis:()),title:'Batterie%20Bilanz',type:line))\" \nheight=\"600\" width=\"100%\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"x":113,"y":439,"wires":[[]]},{"id":"15cc8a36.6a5326","type":"debug","z":"d379d8ae.5f34e8","name":"","active":false,"console":"true","complete":"true","x":680,"y":80,"wires":[]},{"id":"6cf77b69.5ad494","type":"switch","z":"d379d8ae.5f34e8","name":"Split for two temps_","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":639.5,"y":474,"wires":[["788e0794.4f8d68"],["4787208f.4a8708"]]},{"id":"788e0794.4f8d68","type":"change","z":"d379d8ae.5f34e8","name":"1m sensor","rules":[{"t":"set","p":"topic","pt":"msg","to":"Temperatur @ 1m","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"temperature","tot":"msg"},{"t":"set","p":"this_is_1m","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":897.5,"y":462,"wires":[["c797b4a1.051138"]]},{"id":"4787208f.4a8708","type":"change","z":"d379d8ae.5f34e8","name":"2m sensor","rules":[{"t":"set","p":"topic","pt":"msg","to":"Temperatur @ 2m","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"temperature2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":894.5,"y":500,"wires":[["c797b4a1.051138"]]},{"id":"f51b5270.ff82d","type":"ui_chart","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"1340fcde.d07283","order":"3","width":"","height":"3","label":"Batteriespannung","name":"Batteriespannung","interpolate":"linear","nodata":"No Data","ymin":"","ymax":"","removeOlder":"2","removeOlderUnit":"604800","x":875.5,"y":387,"wires":[[],[]]},{"id":"5f9f4309.8bee8c","type":"ui_chart","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"1340fcde.d07283","order":"4","width":"0","height":"4","label":"Batterietemperatur","name":"Batterietemperatur","interpolate":"linear","nodata":"Keine Daten","ymin":"","ymax":"","removeOlder":"2","removeOlderUnit":"604800","x":877.5,"y":550,"wires":[[],[]]},{"id":"66b27209.3b9f3c","type":"ui_text","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"c07abb24.5c0158","order":"3","width":"5","height":1,"name":"Temp Text","label":"Wasser @ 2m [℃]","format":"{{msg.temperature2  | number:2}}","x":717,"y":237,"wires":[]},{"id":"81a2fb7d.8b5a78","type":"change","z":"d379d8ae.5f34e8","name":"Select Volts","rules":[{"t":"set","p":"payload","pt":"msg","to":"battVolt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":624.5,"y":405,"wires":[["f51b5270.ff82d","1f0dec2b.9e4904"]]},{"id":"1f0dec2b.9e4904","type":"ui_text","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"1340fcde.d07283","order":"3","width":"5","height":1,"name":"","label":"Batteriespannung [V]","format":"{{msg.payload | number:2}} ","x":882,"y":423,"wires":[]},{"id":"cad58183.1751f","type":"change","z":"d379d8ae.5f34e8","name":"Select case temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"caseTemp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":629.5,"y":527,"wires":[["5f9f4309.8bee8c","e700401c.51b34"]]},{"id":"e700401c.51b34","type":"ui_text","z":"d379d8ae.5f34e8","tab":"12a1121.7e274ee","group":"1340fcde.d07283","order":"4","width":"","height":1,"name":"","label":"Gehöusetemperatur [℃]","format":"{{msg.payload | number:1}} ","x":898,"y":593,"wires":[]}]
